<h2 class="text-center text-2xl my-10">検索結果</h2>

<div class="w-11/12 mx-auto">
  <%= render "/layouts/search_form" %>

  <div>
    <div class="my-10">
      <a class="underline" href=<%= @page.fullurl %>>Wikipediaの「<%= @page.title %>」ページへ</a>
    </div>
  </div>

  <div>
    <h4 class="text-2xl my-5"><%= @page.title %></h4>
    <p><%= @sanitize_text %></p>
  </div>
</div>

<h2 class="text-2xl text-center my-10">検索したデータを保存する</h2>

<div>
  <%= form_with model: @article do |f| %>
    <div class="my-10 w-11/12 mx-auto">
      <h4 class="text-2xl my-5">タイトル</h4>
      <%= f.text_field :title, value: @page.title, class: 'w-full p-3' %>
    </div>
    <div class="my-10 w-11/12 mx-auto">
      <h4 class="text-2xl my-5">URL</h4>
      <%= f.text_field :url, value: @page.fullurl, class: 'w-full p-3' %>
    </div>
    <div class="my-10 w-11/12 mx-auto">
      <h4 class="text-2xl my-5">本文</h4>
      <%= f.text_area :content, value: @sanitize_text, class: "h-96 w-full p-3" %>
    </div>
    <div class="my-10 w-11/12 mx-auto">
      <%= f.submit '本文を保存する', class: 'w-full p-3 bg-gray-500 text-white' %>
    </div>
  <% end %>
</div>




